:root,
[data-bs-theme=light] {
    /* --bs-body-font-family: 'Axiforma Regular', sans-serif; */
    --bs-heading-font-family: 'Axiforma Bold', sans-serif;
    --bs-body-font-size: 16px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #49515B;
    --bs-body-color-rgb: 73, 81, 91;
    --bs-primary: #0044EB;
    --bs-secondary: #F44380;
    --bs-dark: #020842;
    --bs-light: #E3F0FF;
    --bs-info: #23BABF;
    --bs-warning: #F3A338;
    --bs-danger: #F26F4D;
    --bs-success: #47B16A;
    --bs-primary-rgb: 0, 68, 235;
    --bs-secondary-rgb: 244, 67, 128;
    --bs-dark-rgb: 2, 8, 66;
    --bs-light-rgb: 227, 240, 255;
    --bs-info-rgb: 35, 186, 191;
    --bs-warning-rgb: 243, 163, 56;
    --bs-danger-rgb: 242, 111, 77;
    --bs-success-rgb: 71, 177, 106;
    --bs-primary-bg-subtle: rgba(0, 68, 235, 0.10);
    --bs-secondary-bg-subtle: rgba(244, 67, 128, 0.10);
    --bs-info-bg-subtle: rgba(35, 186, 191, 0.10);
    --bs-warning-bg-subtle: rgba(243, 163, 56, 0.10);
    --bs-danger-bg-subtle: rgba(242, 111, 77, 0.10);
    --bs-success-bg-subtle: rgba(71, 177, 106, 0.10);
    --bs-border-color: #E3F0FF;
    --bs-border-color-translucent: rgba(227, 240, 255, 1);
    --bs-border-radius: 10px;
    --bs-border-radius-sm: 30px;
    --bs-border-radius-pill: 50px;
    --bs-transition: 300ms ease;
}

body * {
    font-family: 'Lato', sans-serif;
    /* Set Lato as the default font */

}

.bodybg {
    background-color: #e5e5e58d;
    /* background-image: linear-gradient(157.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(135deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(112.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(90deg, rgb(53,134,255),rgb(43,241,243)); background-blend-mode:overlay,overlay,overlay,normal; */
}


.cardlymaincontent .container .heading1 {
    border-radius: 25px;
    /* background-color: rgb(255, 255, 255); */
    background-color: var(--bs-light);
}






.footeeralign {
    margin-top: 30%;
}

.section_space {
    padding-top: 30px;
    /* padding-bottom: 30px; */
}

.about_content {
    padding-top: 30px;
}

.heading_block {
    margin-bottom: 40px;
}





.heading_block .heading_text {
    font-size: 43px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 16px;
    letter-spacing: -1px;
    color: #020842;
}

.icon_list {
    color: #49515B;
}

.btn_label {
    font-weight: bold;
    color: #49515B;

}

.heading_block .heading_description {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    /* font-family: 'Axiforma Medium'; */
    color: #49515B;
}



.client_logo_section {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: rgb(221, 244, 252);
    background-position: center center;
    /* margin-top: 30px; */
}

.section_space_p {
    padding-top: 30px;
    width: 98%;
    margin-left: 1%;
    border-radius: 30px;
    /* padding-bottom: 0px; */
}


/* footer */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */




.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-bottom :500px */
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

.sample-header {
    /* position: fixed; */
    left: 0;
    top: 0;
    padding-top: 70px;
    /* height: 20%; */
    width: 100%;
    background-image: url("http://webmadewell.com/wp-content/uploads/2018/01/img-bg-sample-parallax-header.jpg");
    /* background-image: url('assets/images/Growyourbusiness.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
} */
.sample-header-section {
    position: relative;
    /* padding: 15% 0 0%; */
    padding-top: 80px;
    padding-right: 30px;
    padding-left: 30px;
    /* color: #494848; */
    text-decoration: none;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    /* color:#020842; */

    /* font-family: "Montserrat", sans-serif; */
}

.sample-header-section_two {
    position: relative;
    /* padding: 15% 0 0%; */
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: #494848;
    font-weight: bold;
    font-size: 26px;

    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    /* color: #020842; */
    /* text-shadow: 1px 4px 4px rgba(0, 0, 0, 0); */
    /* font-family: "Montserrat", sans-serif; */
}

.heading1 h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #494848;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.177);
}

.heading3 h2 {
    color: #494848;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.177);

}

.heading3 p {
    color: #494848;
    /* font-weight: bold; */
    font-size: 18px;
    text-align: center;

}

.heading4 h2 {
    color: #494848;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.177);
}

.heading2 h2 {
    position: relative;
    padding-top: 20px;
    color: #494848;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.177);
}


.sample-section-wrap {
    position: relative;
    background-color: white;
}



.about_image_1 {
    position: relative;
    /* margin-left: -273px; */
}

.about_image_1 img:nth-child(2) {
    top: 170px;
    left: 200px;
    max-width: 75px;
    position: absolute;
}

.about_image_1 img:nth-child(3) {
    right: 40px;
    bottom: 105px;
    max-width: 80px;
    position: absolute;
}


/* extra added */

@media screen and (max-width: 991px) {
    .about_image_1 img:nth-child(2) {
        top: 70px;
        left: 145px;
        max-width: 60px;
    }

    .about_image_1 img:nth-child(3) {
        right: 40px;
        bottom: 50px;
        max-width: 50px;
    }
}

@media screen and (max-width: 680px) {


    .about_image_1 img:nth-child(2) {
        top: 50px;
        left: 125px;
        max-width: 50px;
    }

    .about_image_1 img:nth-child(3) {
        right: 45px;
        bottom: 30px;
        max-width: 40px;
    }
}

@media screen and (max-width: 575px) {
    .about_image_1 img:nth-child(2) {
        left: 90px;
    }

    .about_image_1 img:nth-child(3) {
        right: 30px;
    }
}

@media screen and (max-width: 425px) {
    .about_image_1 img:nth-child(2) {
        top: 20px;
        left: 70px;
        max-width: 30px;
    }

    .about_image_1 img:nth-child(3) {
        right: 28px;
        bottom: 20px;
        max-width: 30px;
    }
}


.heading_block {
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    /* justify-content: space-between; */

}

.buynowbutton {
    display: inline-block;
    position: relative;
    /* Enables positioning for the circle */
    padding: 10px 20px;
    /* Adjust padding as needed */
    /* border-radius: 40%; */
    border-radius: 30px 30px 30px 30px;
    border: 3px solid #ccc;
    /* Add a solid border color */
    text-align: center;
    /* Center text within the button */
    transition: all 0.2s ease-in-out;
    /* Add a smooth hover effect (optional) */
}

.buynowbutton:hover {
    background-color: #eee;
    /* Add a light background on hover (optional) */
}


.video_btn {
    text-decoration: none;
}

.backtotop {
    right: 15px;
    z-index: 999;
    bottom: 58px;
    /* display: none; */
    position: fixed;
}

.backtotop .scroll {
    z-index: 1;
    width: 42px;
    height: 42px;
    display: flex;
    font-size: 15px;
    position: relative;
    align-items: center;
    border-radius: 100%;
    color: #3586ff;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--bs-border-color);
    box-shadow: 0 20px 30px 0 rgba(174, 191, 210, 0.3);
}



.backtotop .scroll svg {
    animation: bttIconMover 1s infinite alternate;
}



/* card */
.card_section {
    /* align-items: center; */
    padding-left: 20px;
    padding-right: 20px;
}

.iconbox_icon {
    border-radius: 100px;
}

.iconbox_icon img {
    max-width: 100px;
    /* margin-left: 45px; */
    margin-top: 10px;
    /* padding-left: 60px; */
    /* align-items: center; */
}


.navbartitle {
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    padding-left: 50px;
    color: #2663f3;
    /* background-image: linear-gradient(92deg, #ff10a7, #0915f7); */
    background: linear-gradient(90deg, rgba(150, 48, 30, 1) 0%, rgba(199, 201, 88, 1) 10%, rgba(28, 147, 46, 1) 20%, rgba(74, 165, 168, 1) 30%, rgba(89, 90, 165, 1) 40%, rgba(84, 16, 67, 1) 50%, rgba(28, 58, 63, 1) 60%, rgba(82, 175, 183, 1) 70%, rgba(78, 170, 76, 1) 80%, rgba(150, 48, 30, 1) 90%, rgba(199, 201, 88, 1) 100%);
    background-size: 1000% 100%;

    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 2s infinite linear;
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


.navbaroffcampusbody {
    /* background-image: linear-gradient(157.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(135deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(112.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(90deg, rgb(53,134,255),rgb(43,241,243)); background-blend-mode:overlay,overlay,overlay,normal; */
    max-height: 600px;
    overflow-y: auto;
    border-radius: 30px 10px 10px 30px;
}

.dropdownnav a {
    /* font-weight: 500; */
    font-weight: bold;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Adjust background color as needed */
    z-index: 9999; /* Ensure it's on top */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3; /* Adjust border color */
    border-top: 4px solid #3498db; /* Adjust top border color */
    border-radius: 50%;
    animation: spin3 1s linear infinite;
  }
  
  @keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.about_image_1 {
    position: relative;
    /* Enable absolute positioning for the icon */
}

.youtube-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Center icon horizontally */
    transform: translate(-50%, -50%);
    /* Adjust positioning for different image sizes */
    color: rgb(255, 0, 0);
    /* Adjust icon color to match or contrast your image */
    font-size: 2em;
    /* Adjust icon size as needed */
    background-color: rgba(255, 255, 255, 0);
    /* padding: 5px;  */
    border-radius: 30%;
    /* Optional: Add a rounded border */
}


.gradientswippercard {
    /* margin: 0 auto; */
    /* padding: 1px; */
    /* width: 300px; */
    /* background: #b9b9ba; */
    text-align: center;
    border-radius: 10px;
    position: relative;
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .gradientswippercard::after,
  .gradientswippercard::before {
    content: "";
    position: absolute;
    height: 97%;
    width: 97%;
    background-image: conic-gradient(
      from var(--angle),
      #ff4545,
      #00ff99,
      #006aff,
      #ff0095,
      #ff4545
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    /* padding: 3px; */
    border-radius: 30px;
    animation: 3s spin1 linear infinite;
  }
  
  /* .gradientswippercard::before {
    padding: 5px;
    filter: blur(1.5rem);
    opacity: 0.5;
  } */
  
  @keyframes spin1 {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  
  .corouselimage img{
    border-radius: 35px;
  }